{% extends 'MainPage/index.html' %}

{% block content %}
    <div class="container center-pos">
        <div class="jumbotron">
            {% if validlink %}
                <h3>Изменение пароля</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Поменять пароль</button>
                    </form>
            {% else %}
                <p>
                    Ссылка для изменения пароля была неверна, возможна она уже была использована.
                    Пожалуйста, попробуйте восстановить пароль снова.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}