{% extends "MainPage/index.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="container center-pos">
        <div class="jumbotron">
            <h2>Регистрация</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}
                        <div class="input-group">
                            {{ field|add_class:'form-control' }}
                            {% if field.help_text %}
                                <div class="input-group-btn">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-flash"></span></button>
                                </div>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">{{ field.help_text.title }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="btn btn-default" type="submit">Регистрация</button>
            </form>
        </div>
    </div>
{% endblock %}