{% extends 'MainPage/index.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container center-pos-chpswd">
        <div class="jumbotron">
            <h2>Введите новый пароль</h2>

            <form method="post" class="form-group">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label }}</p>
                <p>{{ field|add_class:'form-control' }}</p>
            {% endfor %}
            <button class="btn btn-default" type="submit">Reset</button>
            </form>
        </div>
    </div>
{% endblock %}