{% extends 'MainPage/index.html' %}

{% block content %}
  <div class="container center-pos">
      <div class="jumbotron">
          <p>
              Мы отправили вам инструкции по установке пароля по электронной почте.
              Вы должны получить их в ближайшее время.
          </p>
          <p>
              Если вы не получили письмо, убедитесь, что вы ввели адрес, который вы зарегистрировали,
              и проверьте папку со спамом.
          </p>
      </div>
  </div>
{% endblock %}